---
import { resumeData } from "../data/resume";
import BaseLayout from "../layouts/BaseLayout.astro";

const { personal, ventures, experience, education, skills, languages } =
    resumeData;
---

<style>
    @page {
        size: letter;
        margin: -0.4in 0;
    }
</style>

<BaseLayout title="Resume PDF">
    <div
        class="px-6 py-3 bg-white text-black max-w-4xl mx-auto"
        style="max-height: 10.5in;"
    >
        <header
            class="mb-3 text-center break-inside-avoid page-break-inside-avoid"
        >
            <h1 class="text-3xl font-bold mb-1">{personal.name}</h1>
            <p class="text-xl text-gray-600 mb-1">{personal.title}</p>

            <!-- Contact -->
            <div class="text-sm">
                <p class="pl-28">
                    {personal.email} • <a
                        href={`https://linkedin.com/in/${personal.linkedin}`}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-teal-700 hover:underline"
                    >
                        linkedin.com/in/{personal.linkedin}
                    </a>
                </p>
                <p class="pl-[53px]">
                    Full Resume •
                    <a
                        href="https://www.danielisrael.dev"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-teal-700 hover:underline"
                        >www.danielisrael.dev</a
                    >
                </p>
            </div>
        </header>

        <main>
            <!-- Experience -->
            <section class="mb-2">
                <h2
                    class="text-xl font-semibold pb-1 border-b-2 border-gray-300"
                >
                    Experience
                </h2>
                <div class="flex flex-wrap pb-2">
                    {
                        experience.slice(0, 2).map((job, index) => (
                            <div
                                class={`md:w-1/2 p-2 flex flex-col justify-between
                                    ${index === 0 ? "border-r" : "border-l pl-4"}
                                    `}
                            >
                                <div>
                                    <h3 class="text-lg font-semibold mb-1">
                                        {job.title}
                                    </h3>
                                    <p class="text-base text-gray-600 mb-1">
                                        <span class="font-medium">
                                            {job.company}
                                        </span>{" "}
                                        | {job.period}
                                    </p>
                                    <ul class="ml-6 mt-1">
                                        {job.achievements
                                            .slice(0, 4)
                                            .map((achievement) => (
                                                <li class="mb-1 text-sm text-gray-700">
                                                    • {achievement}
                                                </li>
                                            ))}
                                    </ul>
                                </div>
                                <div class="py-2 flex flex-wrap">
                                    {job.tools.map((tool) => (
                                        <span class="inline-block bg-gray-100 px-2 rounded-full text-xs mr-2">
                                            {tool}
                                        </span>
                                    ))}
                                </div>
                            </div>
                        ))
                    }
                </div>
            </section>

            <!-- Venture and Education -->
            <div class="flex flex-wrap mb-3">
                <section class="w-full md:w-1/2 md:mb-0">
                    <h2
                        class="text-xl font-semibold pb-1 border-b-2 border-gray-300"
                    >
                        Venture
                    </h2>
                    <div class="p-2">
                        {
                            ventures.map((venture) => (
                                <div class="">
                                    <h3 class="text-lg font-semibold mb-1">
                                        {venture.name}
                                    </h3>
                                    <p class="text-base text-gray-600 mb-1">
                                        {venture.role} | {venture.period}
                                    </p>
                                    <ul class="ml-6 mt-1">
                                        {venture.features
                                            .slice(0, 2)
                                            .map((feature) => (
                                                <li class="mb-1 text-sm text-gray-700">
                                                    • {feature}
                                                </li>
                                            ))}
                                    </ul>
                                    <div class="mt-1 flex flex-wrap">
                                        {venture.tools.map((tool) => (
                                            <span class="inline-block bg-gray-100 px-2 py-1 rounded-full text-xs mr-2 mb-2">
                                                {tool}
                                            </span>
                                        ))}
                                    </div>
                                </div>
                            ))
                        }
                    </div>
                </section>

                <section class="w-full md:w-1/2">
                    <h2
                        class="text-xl font-semibold pb-1 border-b-2 border-gray-300"
                    >
                        Education
                    </h2>
                    <div class="border-l-2 p-2 pl-4">
                        {
                            education.map((edu) => (
                                <div class="mb-3">
                                    <h3 class="text-lg font-semibold mb-1">
                                        {edu.school}
                                    </h3>
                                    <p class="text-base text-gray-600 mb-1">
                                        {edu.degree}
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        {edu.period}
                                    </p>
                                </div>
                            ))
                        }
                    </div>
                </section>
            </div>

            <!-- Skills & Languages -->
            <section class="">
                <h2
                    class="text-xl font-semibold mb-3 pb-1 border-b-2 border-gray-300"
                >
                    Skills & Languages
                </h2>
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <h3 class="font-semibold mb-2 text-base">Skills</h3>
                        <div
                            class="grid grid-cols-[repeat(auto-fill,minmax(120px,1fr))] gap-2"
                        >
                            {
                                skills
                                    .slice(0, 5)
                                    .map((skill) => (
                                        <span class="inline-block bg-gray-100 px-2 py-1 rounded-full text-xs mr-2 mb-2">
                                            {skill}
                                        </span>
                                    ))
                            }
                        </div>
                    </div>
                    <div>
                        <h3 class="font-semibold mb-2 text-base">Languages</h3>
                        <div
                            class="grid grid-cols-[repeat(auto-fill,minmax(120px,1fr))] gap-2"
                        >
                            {
                                languages
                                    .slice(0, 4)
                                    .map((language) => (
                                        <span class="inline-block bg-gray-100 px-2 py-1 rounded-full text-xs mr-2 mb-2">
                                            {language}
                                        </span>
                                    ))
                            }
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</BaseLayout>
